<div class="productos">
    <div class="prodtit">
        <h4>Hola {{usuario}} </h4>
        <button class="boton1" type="button" onclick="location.href='/admin/login/logout'">Cerrar Sesion</button>
    </div>

    <div class="prodtit">
        <h2>Listado de Productos</h4>
            <button class="boton2" type="button" onclick="location.href='/admin/productos/agregar'">Agregar</button>
    </div>

     <div class="product">
        {{#each productos}}
        <div class="contprod">
            <div class="titulo">
                Titulo:{{titulo}}
            </div>
            <div class="prod">
                IMG: {{imagen}}
            </div>
            <div class="precio">
                Precio: {{precio}}
            </div>
            <div class="opciones">
                <div>Opciones: <a href="/admin/productos/editar/{{id}}"><img class="editar" src="/images/editar.png"></a><a
                        href="/admin/productos/delete/{{id}}"><img class="borrar" src="/images/borrar.png"></a></div>
            </div>
        </div>
        {{/each}}
    </div>
    


</div>